
# Git ignore test - Typescript 
# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
# Users can generate this themselves by calling gulp. 
dist/**/*